/*base*/
.css-face{
    transition: all 0.5s;
	-webkit-transition: all 0.5s;
}


/*招聘列表二*/
.recruitwrap2{
	width: 1200px;
	margin: 0 auto;
}
.recruitwrap2 dt{
	height: 60px;
	background: #fff;
	margin-bottom: 6px;
	font-size: 20px;
	line-height: 60px;
	cursor: pointer;
}
.recruitwrap2 dt.cur{
	background: #006fb8;
	color: #fff;
}
.recruitwrap2 dt p.fl{
	padding-left: 60px;
	background: url(../img/bg_sign18.png) no-repeat 30px 0;
}
.recruitwrap2 dt.cur p.fl{
	background-position: 30px bottom;
}
.recruitwrap2 dt .sign{
	display: inline-block;
	width: 31px;
	height: 60px;
	margin-right: 22px;
	background: url(../img/bg_sign19.png) no-repeat center top;
}
.recruitwrap2 dt.cur .sign{
	background-position: center bottom; 
}
.recruitwrap2 dd{
	padding: 2% 2.4% 2.2%;
	background: #fff;
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 24px;
}
.recruitwrap2 dd h6{
	font-size: 14px;
	line-height: 24px;
}
.recruitwrap2 dd .detail{
	margin-bottom: 24px;
}
.recruitwrap2 dd .contacts{
	border-top: 1px solid #dfdfdf;
	margin-top: 27px;
	padding-top: 18px;
	color: #ff9415;
}