body{background-color: #f2f2f2}
.drny-box{position: fixed;width:77px;height:auto;top:200px;right:15px;z-index: 11;}
.drny-box li a{color:#fff;padding-top: 9px;display: block;height:47px;width:300px;}
.details{float:left;width:77px; height:47px;}
.drny-box li span{
    font-size: 20px;color: #fff;float: left;height: 24px;
    line-height: 22px;padding-left: 8px;border-left: 1px solid #fff;margin-top: 8px;
}
.ewm{
    width:120px;height:120px;background: #c0c0c0;border: 5px solid #fff;
    position: absolute;left:-145px;top:-40px;display: none;
}
.drny-box li i{
    display: block;width:30px;height:27px;margin:0px auto;text-align: center;
    background: url("../img/drny/fx.png") no-repeat;background-position: 4px 0px;
}
.drny-box li .ico1{background-position: 4px 0px;}
.drny-box li .ico2{background-position: 0px -25px;}
.drny-box li .ico3{background-position: -34px 4px;}
.drny-box li .ico4{background-position: -30px -22px;}
.drny-box li .ico5{background-position: 4px -53px;}
.drny-box li p{ text-align: center;line-height: 12px;}
.drny-box li{width:77px;height:56px;background: #c2985b;margin:0 0 1px 0;position: relative;overflow: hidden;}