@charset "utf-8";
/* CSS Document */
.page{
	padding:90px 0 10px;
	font-size:12px;
	font-weight:bold;
	line-height:22px;
	text-align:center;
	clear:both;
}
.page a{
	text-decoration:none;
	color:#8698b6;
	background:#fff;
	border:1px solid #CCCCCC;
	padding:3px 6px;
	padding-bottom:2px;
	margin-right:3px
}
.page a.active{
	background:#88664E;
	border:1px solid #88664E;
	color:#fff
}
.page a:hover{
	text-decoration:none;
	color:#fff;
	background:#88664E;
	border:1px solid #88664E
}