/*base*/
.css-face{
    transition: all 0.5s;
	-webkit-transition: all 0.5s;
}


/*新闻模版一*/
.newswarp1{width: 1200px;margin: 0 auto;}
.newswarp1 ul li{margin-bottom: 30px;border-bottom: 1px solid #eee;padding: 30px 0;}
.newswarp1 ul li a{display: block;height: 100%;width: 100%;cursor: pointer;}
.newswarp1 .model1 .pic{width: 421px;height: 223px;overflow: hidden;}
.newswarp1 .model1 .pic img{display: block;width: 421px;height: 223px;}
.newswarp1 .model1 .pic:hover img{transform:scale(1.1); -webkit-transform:scale(1.1); }
.newswarp1 .model1 .box{width: 700px;height: 223px;}
.newswarp1 .model1 .box h2{display: block;width: 100%;font-size: 22px;font-weight: bold;line-height: 36px;color: #333;padding: 20px 0 15px;}
.newswarp1 .model1 .box .details{font-size: 14px;color: #666;line-height: 26px;max-height: 80px;overflow: hidden;margin-bottom: 15px;}
.newswarp1 .model1 .box .details p{font-size: 14px;color: #666;line-height: 26px;}
.newswarp1 .model1 .box .btns{width: 120px;height: 42px;line-height: 42px;border:1px solid #0f62b6;text-align: center;background-color: #fff;color: #0f62b6;display: block;font-size: 14px;}
.newswarp1 ul li:hover .box h2{color: #0f62b6}
.newswarp1 .model1 .box .btns:hover{background-color: #0f62b6;color: #fff;}

.newswarp1 .model2 .box{width: 900px;height: auto;}
.newswarp1 .model2 .box .title{margin-bottom: 5px;}
.newswarp1 .model2 .title h2{display: inline-block;max-width: 80%;color: #333;font-size: 18px;font-weight: bold;line-height: 38px;margin-right: 10px;}
.newswarp1 .model2 .title span{display: inline-block;color: #888888;font-size: 12px;padding-right: 10px;font-weight: normal;}
.newswarp1 .model2 .details{color: #666666;font-size: 14px;line-height: 26px;height: 52px;overflow: hidden;}
.newswarp1 .model2 .pic{width: 200px;height: 109px;overflow: hidden;}
.newswarp1 .model2 .pic img{display: block;width: 200px;height: 109px;}
.newswarp1 .model2 .pic:hover img{transform:scale(1.1); -webkit-transform:scale(1.1); }1