/*base*/
.css-face{
    transition: all 0.5s;
	-webkit-transition: all 0.5s;
}


/*招聘列表一*/
.recruitwrap1{
	width: 1200px;margin: 0 auto;overflow: hidden;
}
.recruitwrap1 ul{width: 1230px;}
.recruitwrap1 ul li{
	padding: 22px 30px;
	float: left;
	background: #fff;
	width: 230px;
	cursor: pointer;
	margin: 0 8px 8px 0;
	border: 2px solid #fff;
	transition: all .5s;
}
.recruitwrap1 ul li .recruit-date{
	color: #989898;
	font-size: 15px;
	line-height: 20px;
	font-family: "Arial";
	margin-bottom: 10px;
}
.recruitwrap1 ul li .recruit-tit{
	font-size: 20px;
	color: #333;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 5px;
	border-bottom: 1px solid #333;
}
.recruitwrap1 ul li .recruit-txt{
	color: #666;
	line-height: 22px;
	font-size: 14px;
	height: 132px;
	overflow: hidden;
	margin: 20px 0;
}
.recruitwrap1 ul li .more{
	font-size: 14px;
	color: #333;
	width: 110px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #f7f7f7;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.recruitwrap1 ul li:hover{
	border: 2px solid #cea563;
}
.recruitwrap1 ul li:hover .more{
	background: #cea563;
	color: #fff;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.body-shadow-demo{
	display: none;
	position: fixed;
	_position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background:rgba(0,0,0,0.5);
}
.body-shadow-demo .recruit-pop{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 580px;
	height: 365px;
	padding: 35px 30px 50px;
	margin: -225px 0 0 -320px;
	background: #fff;
}
.body-shadow-demo .recruit-pop h2{
	font-size: 20px;
	color: #333;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
	padding-bottom: 20px;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 30px;
}
.recruit-pop .btn-demo{
	width: 150px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background: #cea563;
	font-size: 14px;
	border-radius: 35px;
}
.recruit-pop .recruit-main{
	margin-bottom: 50px;
	height: 210px;
	color: #666;
	line-height: 24px;
	font-size: 14px;
	padding-right:20px;
}
.body-shadow-demo .recruit-pop .close-demo{
	background: url(../img/tc-img-close.png) no-repeat left center;
	width: 35px;
	height: 35px;
	position: absolute;
	right: -35px;
	top: -35px;
	cursor: pointer;
}