.header .header-main.phone{
    background-color: #fff;
    border-top: 4px solid #008a45;
    height: 66px;
}
.header .header-main.phone .logo img{
    height: 28px;
}
.header .header-main.phone .nav-btn{
    margin-top: 14px;
}
