@keyframes navWidth{
	0%{
		width: 0;
		transform:rotateY(90deg);
	}
	100%{
		width: 4rem;
		transform:rotateY(0deg);
	}
}
@-webkit-keyframes navWidth{
	0%{
		width: 0;
		-webkit-transform:rotateY(90deg);
	}
	100%{
		width: 4rem;
		-webkit-transform:rotateY(0deg);
	}
}

@keyframes {
	0%{

	}
	100%{

	}
}
@-webkit-keyframes {
	0%{

	}
	100%{

	}
}