/*base*/
.css-face{
    transition: all 0.5s;
	-webkit-transition: all 0.5s;
} 
 /*新闻模版六*/
.newswarp6{width:1190px;margin:0 auto;}
.newswarp6 .newswarp6-list1{width:1191px;margin-bottom:50px;}
.newswarp6 .newswarp6-list1 li{float: left;width:396px;height:460px;background-color:#fff;border-right:1px solid #ededed; position: relative;cursor: pointer;}
.newswarp6 .newswarp6-list1 li.nobor{border-right: none;}
.newswarp6 .newswarp6-list1 a{display:block;padding: 10px 10px 30px;}
.newswarp6 .newswarp6-list1 h3{margin-top:26px;height:26px;line-height:26px;font-size:20px;color:#000;font-weight:normal;padding:0 25px;white-space: nowrap;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.newswarp6 .newswarp6-list1 span{display:block;margin-top:9px;padding: 0 25px;line-height:22px;font-size:18px;color:#838383;}
.newswarp6 .newswarp6-list1 p{margin-top:11px;height:48px;line-height:24px;font-size:12px;color:#999;padding: 0 25px;overflow:hidden;}
.newswarp6 .newswarp6-list1 .demomore{display:block;width:31px;height:31px;margin-left:27px;margin-top:15px;background:url(../img/ln_enter.png) no-repeat;}
.newswarp6 .newswarp6-list1 li:hover{box-shadow: 0 0 10px 5px #dedede;z-index: 13;}
.newswarp6 .newswarp6-list1 li:hover h3{color:#f60;}
.newswarp6 .newswarp6-list1 li:hover .demomore{background-position:0 -31px;}

.newswarp6 .newswarp6-list2{width:1215px;}
.newswarp6 .newswarp6-list2 li{float:left;width:320px;height:200px;background-color:#fff;padding:25px 30px 0 30px;margin-right:25px;margin-bottom:25px;	}
.newswarp6 .newswarp6-list2 span{display:block;line-height:24px;font-size:18px;color:#666;}
.newswarp6 .newswarp6-list2 h3{margin-top:11px;height:24px;line-height:24px;font-size:16px;color:#000;font-weight:normal;width: 320px;white-space: nowrap;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.newswarp6 .newswarp6-list2 p{margin-top:15px;height:66px;overflow:hidden;line-height:22px;font-size:12px;color:#999;}
.newswarp6 .newswarp6-list2 .demomore{display:block;margin-top:18px;font-size:14px;line-height:20px;color:#000;}
.newswarp6 .newswarp6-list2 li:hover {box-shadow: 0 0 10px 5px #dedede;}
.newswarp6 .newswarp6-list2 li:hover .demomore{color:#f60;}
