/*base*/
.css-face{
    transition: all 0.5s;
	-webkit-transition: all 0.5s;
} 
 /*新闻模版七*/
.newswarp7{width: 1200px;margin: 0 auto;}
.newswarp7 ul li{padding: 40px 0;border-bottom: 1px #ddd solid;}
.newswarp7 ul li .news-img{width: 240px;display: block;}
.newswarp7 ul li .news-txt{padding-left: 20px;float: right;width: 920px;}
.newswarp7 ul li .news-txt h2{font-size: 18px;color: #333;line-height: 24px;margin-bottom: 15px;white-space: nowrap;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;transition: all 0.5s;}
.newswarp7 ul li .news-txt .newsdate {font-size: 14px;color: #888;}
.newswarp7 ul li .news-txt p{font-size: 14px;color: #666;line-height: 24px;}
.newswarp7 ul li:hover h2{color: #00adef;}
