
.server-box {position: fixed;right: 0;top: 50%;margin-top: -85px;width: 60px;z-index: 10;}
.server-box li {width: 60px;text-align: center;height: 55px;margin-bottom:5px;background-color: #383838;position: relative;}
.server-box li .phone{
  display: none;width: 116px;height: 55px;line-height: 55px;text-align: center;color: #fff;
  background-color: #ea5a25;position: absolute;right: 100%;top: 0;font-size: 14px;transition: all 0.5s;
}
.server-box li:hover .phone{display: block;}
.server-box li a {display: block;color: #fff;padding-top:4px;}
.server-box li a p{font-size: 12px;color: #fff;line-height:25px;transition: all 0.5s;}
.server-box li .ico {display: block;height: 26px;}
.server-box li .ico1 {background: url(../img/goup/ico_33.png) no-repeat center;transition: all 0.5s;}
.server-box li .ico2 {background: url(../img/goup/ico_35.png) no-repeat center;transition: all 0.5s;}
.server-box li .ico3 {background: url(../img/goup/ico_34.png) no-repeat center;transition: all 0.5s;}
.server-box li:hover p {color: #ea5a25;}
.server-box li:hover .ico1 {background: url(../img/goup/ico_33_h.png) no-repeat center;}
.server-box li:hover .ico2 {background: url(../img/goup/ico_35_h.png) no-repeat center;}
.server-box li:hover .ico3 {background: url(../img/goup/ico_34_h.png) no-repeat center;}
.server-box li.wx .wx-box {
  display: block;position: absolute;top: 100%;right: 0;width: 80px;height: 80px;
  background-color: #ea5a25;padding: 5px;display: none;transition: all 0.5s;
}
.server-box li.wx img {width: 100%;}
.server-box li.wx:hover .wx-box {display: block;}